<div class="mt-4">
    <form method="post" action="/search"> <!-- Thay đổi method thành 'get' -->
        <div class="form-group">
            <label for="search-input">Nhap tu khoa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="nhap....">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>